**/.DS_Store
**/extra
**/build

# from the internals subdir
**/internals/*.txt
**/internals/get_description.py
**/internals/internals.pd
**/internals/list_internals.py
*.csv

# from the src dir
error.log
unused/
json_files/
__pycache__/
src/tests/xml_files/
src/tests/patch_paths/
src/tests/pd_files/
src/tests/pdpy_tests/
src/tests/all_objects.json
**/*.test.*.py

# from vscode-pdpy
node_modules/

structure.txt
private/
src/tests/hello-world.json
src/tests/definitions.txt
src/tests/definitions.py
