**/.DS_Store
**/extra
**/build

# from the internals subdir
**/internals/*.txt
**/internals/get_description.py
**/internals/internals.pd
**/internals/list_internals.py
*.csv

# from the src dir
error.log
unused/
json_files/
__pycache__/
tests/
