**/.DS_Store
**/extra
**/build

# from the internals subdir
**/internals/*.txt
**/internals/get_description.py
**/internals/internals.pd
**/internals/list_internals.py
*.csv

src/unused/
src/json_files/
src/error.log
src/pdpy/__pycache__/
