div.wy-side-nav-search .version {
    color: #00406d;
    font-weight: bold;
}

nav.wy-nav-top {
    background: #41910f;
}

div.wy-nav-content {
    max-width: 1000px;
}

span.caption-text {
    color: #0b5600;
}
